* {
    box-sizing: border-box;
}
 header {
     width: 100%;
     background-color: white;
     overflow: auto;
     padding: 2% 3%;
 }

 ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 ul li {
    float: left;
 }

 ul li a {
     text-decoration: none;
     color: grey;
     font-size: 150%;
 }

 .menu-left {
     width: 30%;
 }
 .menu-left li {
     padding-right: 5%;
     float: left;
 }
 .menu-right {
     width: 40%;
     float: right;
 }
 .menu-right li {
     padding-left: 5%;
     float: right;
 }
 .banner {
    background-image: url(image/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    position: relative;
 }

 .banner-heading {
     position: absolute;
     left: 5%;
     top: 80px;
     font-size: 300%;
     word-spacing: 5px;
     color: white;
 }
 .banner-text {
     position: absolute;
     left: 5%;
     top: 160px;
     font-size: 150%;
     color: white;
 }
 .main {
     background-color: #ccc;
     padding: 2% 5%;
 }

 .img1, .img2, .img3 {
     float: left;
     width: 31%;
 }
 .main-content {
     overflow: auto;
 }
 .main-content img {
     width: 100%;
 }
 .img1, .img2 {
     margin-right: 3%;
 }
 .mexico, .tokyo {
     margin-bottom: 9%;
 }

 footer {
     background-color: #eee;
     padding: 2% 5%;
     overflow: auto;
 }

 .Travel, .Host, .Trust {
     float: left;
     width: 31%;
 }
 .Travel, .Host {
     margin-right: 3%;
 }

 @media screen and (max-width:992px) {
     * {box-sizing: border-box;}
    header {
        padding: 3% 0;
        background-color: #556370;
    }
    ul li a{
        color: white;
    }
    .menu-left {
        padding: 0;
        margin-left: 5%;
        width: 30%;
    }
    .menu-left li {
        float: left;
        padding-right: 5%;
        width: 40%;
    }
    .menu-right {
        padding: 0;
        margin-right: 5%;
        width: 50%;
    }
    .menu-right li {
        float: right;
        padding-left: 7%;
    }

    .banner {
        background-image: none;
        font-size: 100%;
        height: 200px;
        margin: 0 5%;
        background-color: #fff;
        border-bottom: 1px solid black;
    }
    .banner-heading {
        margin-left: -5%;
        color: black;
        margin-top: -3%;
    }
    .banner-text {
        margin-left: -5%;
        color: grey;
        margin-top: -2%;
    }
    .main {
        background-color: white;
        padding: 2% 5%;
    }
    .main-content {
        display: block;
    }
    .img1, .img2, .img3 {
        width: 48%;
    }
    .img1 {
        margin-right: 4%;
    }
    .img2 {
        margin-right: 0;
        margin-bottom: 4%;
    }
    footer {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 0 10% 2% 5%;
        overflow: auto;
    }

    .Travel, .Host, .Trust {
        width: 100% ;
        float: left;
        margin-top: 5%;
    }
    h3 {
        font-size: 200%;
    } 
}

@media screen and (max-width: 768px)
{
    * {box-sizing: border-box;}
    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: auto;
        font-size: 80%;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .menu-left {
        width: 40%;
    }
    .menu-left li {
        width: 50%;
        float: left;
    }
    .menu-right {
        width: 60%;
    }
    .menu-right li {
        width: 33.33%;
        float: right;
    }
    .banner {
        height: 280px;
        padding-left: 0;
    }
    .banner-text {
        margin-top: 5%;
    }
    .img1, .img2, .img3 {
        width: 98%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        margin-right: 0;
    }
}